
html, body {
    height: 100%
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: Garamond;
    /* background-color: lavender; */
    /* background: url("images/bassbg.jpg") no-repeat center center fixed; */
    background-size: cover;
    /* margin-bottom: 60px; */
}

a h2 {
    color: rgb(255, 255, 255);
}

.nav-link {
    color: white;
    /* font-weight: bold; */
}

.nav-item .active {
    /* background-color: rgb(40, 143, 212); */
    background-color: lavender;
    color: rgb(25, 50, 75);
}

nav {
    background-color: rgb(25, 50, 75);
}

footer {
    background-color: rgb(25, 50, 75);
    
}

/* .footer {

} */

.footer-copyright{
    color: white;
}

.carousel {

    margin: 0!important;

    height: 900px !important;
    width: 100%;

}

.carousel-inner {
  overflow:"hidden";
  margin: 0;
}

.carousel-inner > .carousel-item {
  height: 900px;
  overflow:"hidden";
}

.row {
    margin: 0;
}

.col-md {
    padding: 0;
}

.container-fluid {
    padding: 0;
}
