
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: Garamond, Georgia;
    font-size: 100%;
    /* background-size: cover; */
    background-image: url("../images/interlaced.png");
}

/* Main Page */

.row {
    margin: 0;
}

.col-md {
    padding: 0;
}

.container-fluid {
    padding: 0;
}

/* Navbar */
a h2 {
    padding-left: 15px;
    color: rgb(255, 255, 255);
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-item .active {
    background-color: lavender;
    color: rgb(25, 50, 75);
    opacity: 1;
}

.nav-link {
    transition: 0.3s;
}

.nav-link:hover {
    background-color: lavender;
    color: rgb(25, 50, 75);
    opacity: 1;
}

nav {
    background-color: rgb(25, 50, 75);
}

/* Left side carousel */
.carousel {

    margin: 0!important;

    height: 900px !important;
    width: 100%;

}

.carousel-inner {
  overflow:"hidden";
  margin: 0;
}

.carousel-inner > .carousel-item {
  height: 900px;
  overflow:"hidden";
}

.carousel-item > img {
    max-height: 100%;  
    max-width: 100%; 
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

/* Right side text */
#maintext-container {
    padding: 40% 5%;
    text-align: center;
}

/* Footer Design */
footer {
    background-color: rgb(25, 50, 75);
    /* position: static; */
    /* width: 100%; */
    bottom: 0;
    margin-bottom: 0;
}

.footer-copyright{
    color: white;
}

footer a {
    padding: 5px;
}

/* styling */
hr.separator {
    overflow: visible;
    padding: 0;
    /* border: none; */
    border-top: medium double #333;
    color: #333;
    text-align: center;
    width: 50%;
}

p {
    font-size: 1.125rem;
}

