
html, body {
    height: 100%
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: Garamond, Georgia;
    /* background-size: cover; */
    background-image: url("../images/interlaced.png");
}

/* Main Page */

.row {
    margin: 0;
}

.col-md {
    padding: 0;
}

.container-fluid {
    padding: 0;
}

/* Navbar */
a h2 {
    padding-left: 15px;
    color: rgb(255, 255, 255);
}

.nav-link {
    color: white;
}

.nav-item .active {
    background-color: lavender;
    color: rgb(25, 50, 75);
}

nav {
    background-color: rgb(25, 50, 75);
}

/* Left side carousel */
.carousel {

    margin: 0!important;

    height: 900px !important;
    width: 100%;

}

.carousel-inner {
  overflow:"hidden";
  margin: 0;
}

.carousel-inner > .carousel-item {
  height: 900px;
  overflow:"hidden";
}

/* Right side text */
#maintext-container {
    padding: 40% 0;
}

/* Footer Design */
footer {
    background-color: rgb(25, 50, 75);
}

.footer-copyright{
    color: white;
}

footer a {

    padding: 5px;
}

/* oops */
#asdf {
    height: 100%;
}
/* #maintext-oops {
    height: 100%;
} */
#oops-container{
    margin-top: 20%;
}

